:root {
  --black1: #333333;
  --gray1: #4F4F4F;
  --gray2: #828282;
  --gray3: #BDBDBD;
  --gray4: #E0E0E0;
  --gray5: #F2F2F2;
  --blue: #2F80ED;
  --blue2: #2D9CDB;
  --red: #EB5757;
}

html {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.035em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: calc(100vh - 100px);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}