.edit {
  font-family: "Noto Sans JP";
  margin: 50px auto 0;
  max-width: 400px;
}

.edit__back {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--blue2);
}

.edit__icon {
  color: var(--blue2);
  max-height: 14px;
}

.edit__info {
  padding: 20px;
  display: flex;
  align-items: center;
}

.edit__infoBox {
  flex: 1;
}

.edit__infoTitle {
  font-size: 24px;
  line-height: 33px;
  font-weight: normal;
}

.edit__infoSubtitle {
  margin-top: 4px;
  font-size: 13px;
  line-height: 18px;
  color: var(--gray2);
}

.edit__form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.edit__avatarSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.edit__avatar {
  margin-right: 20px;
  object-fit: cover;
  width: 72px;
  height: 72px;
  border-radius: 8px;
}

.edit__fieldDesc {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;

  color: var(--gray2);
}

.form__submit {
  height: 38px;
  width: 82px;
  background: var(--blue1);
  border-radius: 8px;
  color: white;
}

.form__submit:disabled {
  background-color: var(--gray3);
  cursor: auto;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .edit {
    width: 70vw;
    max-width: 850px;
  }

  .edit__data {
    margin-top: 24px;
    padding: 30px 47px 42px 47px;
    border: 1px solid var(--gray4);
    border-radius: 12px;
  }

  .edit__info {
    padding: 0;
  }

  .edit__form {
    margin-top: 25px;
    padding: 0;
    max-width: 420px;
  }

  .edit__avatar {
    margin-right: 25px;
  }
}
