.header {
  display: flex;
  justify-content: space-between;
  margin: 1vw 4vw;
}

.header__user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.header__imgBox {
  height: 32px;
  width: 32px;
}

.header__username {
  display: none;
}

.header__avatar {
  max-width: 100%;
  max-height: 100%;
}

.header__dropdown {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 180px;
  padding: 10px 14px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  background: white;
  border: 1px solid var(--gray4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.header__link {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;

  color: var(--gray1);

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
}

.header__link:hover {
  background: var(--gray5);
  border-radius: 8px;
}

.header__link--red {
  color: var(--red);
}

.header__icon {
  font-size: large !important;
  padding-top: 2px;
}

.header__line {
  border-color: var(--gray4);
}

@media (min-width: 768px) {
  .header__username {
    display: block;
  }
}
