.login {
  padding: 18px 22px 17px 16px;
  max-width: 393px;
  flex: 1;
}

.login__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 65px;
}

.login__appLogo {
  align-self: flex-start;
}

.login__title {
  width: 90%;
  margin-top: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--black1);
}

.login__description {
  width: 90%;
  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black1);
}

.login__form {
  margin-top: 20px;
}

.login__inputBox {
  margin-top: 14px;
  display: flex;
  align-items: center;
  padding: 12px;
  max-width: 355px;
  height: 48px;
  border: 1px solid var(--gray3);
  border-radius: 8px;
}

.login__inputBox:focus-within {
  border: 1px solid var(--blue1);
  border-radius: 8px;
}

.login__input {
  flex: 1;
  margin-left: 12px;
  font-size: 16px;
  line-height: 22px;
  color: var(--gray1);
}

.login__submit {
  margin-top: 22px;
  max-width: 355px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue1);
  border-radius: 8px;

  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.login__text {
  margin-top: 30px;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  text-align: center;

  color: var(--gray2);
}

.login__text--mt26 {
  margin-top: 27px;
}

.login__oauth {
  margin-top: 22px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.login__footer {
  margin: 5px auto;
  max-width: 355px;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: var(--gray3);
}

@media (min-width: 768px) {
  .login {
    max-width: 473px;
    padding: 0;
  }

  .login__box {
    margin: 0;
    padding: 43px 58px;
    border: 1px solid var(--gray3);
    box-sizing: border-box;
    border-radius: 24px;
  }

  .login__footer {
    margin: 12px auto;
    max-width: 473px;
  }
}
